.main-header {
  background-color:#1e3a8a;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 9999;
  
}

.nav-menu {
  display: flex;
  gap: 15px;
  margin-left: 30px;

}

.right-actions {
  margin-left: auto;
}

.main-header a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.transparent-btn {
  background: none;
  border: none;
  padding: 4px;
  color: white;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
}

.nav-btn.active {
  background-color: #0056b3;
  color: #ffffff;
  font-weight: bold;
  border-color: #004085;
}

.nav-btn:hover {
  transform: translateY(-2px);
}

.transparent-btn:hover {
  opacity: 0.7;
}

.transparent-btn .material-icons {
  font-size: 22px !important;
}

.content-area {
  height: calc(100vh - 70px); 
  max-height: calc(100vh - 70px); 
  padding: 20px;
  background-color: #f8f9fa;
  margin-top: 60px;
  box-sizing: border-box; 
}



.logo-img {
  height: 60px;
  width: 90px;
  display: block;
  border-radius: 7px;
}

.nav-btn {
  background-color: #f0f2f5;
  color: #333333;
  border: 1px solid #e0e0e0;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(48, 45, 45, 0.6) !important;
  backdrop-filter: blur(4px);
  display: flex !important;
  justify-content: center;
  align-items: center;
  z-index: 999999 !important;
}

.popup-content {
  background: #ffffff !important;
  padding: 30px 25px 25px 25px;
  border-radius: 16px;
  width: 60% !important;
  max-width: 1000px !important;
    height: auto !important; 
  max-height: none !important; 
  overflow: visible !important; 
  
  position: relative;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  animation: zoomInPopup 0.25s ease-out;
}

.close-popup-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 35px;
  cursor: pointer;
  color: #888;
  line-height: 1;
  z-index: 1000;
}

.close-popup-btn:hover {
  color: #e53e3e;
}

@keyframes zoomInPopup {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}