<header class="main-header">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div class="logo">
    <img src="http://23.111.175.186:81/images/logo-login.png" alt="Portal Logo" class="logo-img">
  </div>

  <div class="nav-menu">
    <button class="nav-btn" [class.active]="isAssignProjectOpen" (click)="openAssignProjectPopup()">Project Tracking</button>
    <button class="nav-btn" routerLink="/dashboard/create-order" routerLinkActive="active">Create Order</button> <button
      class="nav-btn" routerLink="/import-data" routerLinkActive="active" style="display: none;">Import Data</button>
    <button class="nav-btn" routerLink="/billing" routerLinkActive="active" style="display: none;">Billing</button>
    <button class="nav-btn" routerLink="/add-instruction" routerLinkActive="active" style="display: none;">Add Instruction</button>
  </div>

  <nav class="right-actions">
    <span class="user-actions">
   <button (click)="refreshPage()" class="transparent-btn" style="color: white;" title="Refresh">
  <span class="material-icons">refresh</span>
</button>

      <button (click)="logout()" class="transparent-btn" title="Logout">
        <span class="material-icons">logout</span>
      </button>
    </span>
  </nav>
</header>

<main class="content-area">
  <router-outlet></router-outlet>
</main>


<div class="popup-overlay" *ngIf="isAssignProjectOpen">
  <div class="popup-content">
    <button class="close-popup-btn" (click)="closeAssignProjectPopup()">&times;</button>

    <app-users (onProceed)="closeAssignProjectPopup()"></app-users>

  </div>
</div>